services:
  traefik:
    image: "traefik:v3"
    container_name: "traefik"
    restart: unless-stopped
    command:
      - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--experimental.localplugins.wrangler.modulename=github.com/holysoles/bot-wrangler-traefik-plugin"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./:/plugins-local/src/github.com/holysoles/bot-wrangler-traefik-plugin
      - './robots.txt:/robots.txt:ro'
    ports:
      - 8000:80
      - 8080:8080
  whoami:
    image: traefik/whoami
    container_name: "simple-service"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.router-bar.rule=PathPrefix(`/`)"
      - "traefik.http.routers.router-bar.entrypoints=web"
      - "traefik.http.routers.router-bar.middlewares=bot-wrangler"
      - "traefik.http.services.service-bar.loadbalancer.server.port=80"
      - "traefik.http.middlewares.bot-wrangler.plugin.wrangler.botaction=BLOCK"
      - "traefik.http.middlewares.bot-wrangler.plugin.wrangler.botBlockHttpCode=403"
      - "traefik.http.middlewares.bot-wrangler.plugin.wrangler.loglevel=DEBUG"
      - "traefik.http.middlewares.bot-wrangler.plugin.wrangler.cacheUpdateInterval=1m"
      - "traefik.http.middlewares.bot-wrangler.plugin.wrangler.robotsSourceUrl=https://cdn.jsdelivr.net/gh/ai-robots-txt/ai.robots.txt@v1.42/robots.json,https://cdn.jsdelivr.net/gh/mitchellkrogza/nginx-ultimate-bad-bot-blocker@latest/robots.txt/robots.txt"
      #- "traefik.http.middlewares.bot-wrangler.plugin.wrangler.robotsSourceUrl=https://cdn.jsdelivr.net/gh/mitchellkrogza/nginx-ultimate-bad-bot-blocker@latest/robots.txt/robots.txt"
      #- "traefik.http.middlewares.bot-wrangler.plugin.wrangler.botProxyUrl=http://backend:80"
  backend:
    image: traefik/whoami
    container_name: "backend"
    restart: unless-stopped
    ports:
      - 5000:80

# tarpit:
#   build: ./nepenthes/docker/
#   ports:
#     - 8893:8893
